<div class="oneline oneline-collection">
  <%= icon_for Collection %>
  <span class="collection-title">
    <%= collection.title %>
  </span>
  <div class="collection-actions btn-group btn-group-sm">
    <%= link_to_show_entity collection %>
  </div>
</div>
