<h1>
  <%= model_name_with_icon Content, :plural %>
  <span class="btn-group">
    <%= link_to new_content_path,
                class: 'btn btn-sm btn-primary',
                id: 'btn-new-content',
                title: 'Add new Content',
                data: { toggle: 'tooltip' },
                remote: true do -%>
      <%= icon('plus', class: 'fa-fw') %>
    <% end -%>
  </span>
</h1>

<div id="contents-table">
  <div class="table" id="contents">
    <div class="table-body container-fluid">
      <%= render partial: 'content', collection: @contents %>
    </div>
  </div>
</div>
