<% content_for :form_modal_content do %>
  <%= render 'storages/form/own_fields' %>
  <div id="nested-fields"></div>
<% end %>

<%= render patial: 'shared/form_modal', locals: { entity: @storage } %>
