<div class="oneline oneline-source">
  <%= icon(Source::ICON, class: 'fa-fw') %>
  <span class="storage-title">
    <%= source.title %>
  </span>
  <span class="source-actions">
    <div class="btn-group btn-group-sm">
      <%= link_to_show_entity source %>
    </div>
  </span>
</div>
