<li class="list-group-item">
  <%= document.title %>
  &mdash;
  <%= t(document.document_type, scope: 'activerecord.document.attributes.document_types') %>
  <span class="pull-right">
    <%= link_to_show_entity document %>
  </span>
</li>
