<li class="list-group-item">
  <%= t translation.language, scope: [:activerecord, :attributes, :content, :languages] %>
  <span class="pull-right">
    <%= link_to_show_entity translation,
                            url=content_content_translation_path(id: translation.id,
                                                                 content_id: translation.content.id) %>
  </span>
</li>
