<div class="oneline oneline-person">
  <%= icon_for Person %>
  <span class="person-name">
    <%= person.name %>
  </span>
  <div class="person-actions btn-group btn-group-sm">
    <%= link_to_show_entity person %>
  </div>
</div>
