<span class="btn-group">
  <%= link_to path_to_new_entity,
              class: 'btn btn-primary',
              id: "btn-new-#{entity_model.model_name.to_s.downcase}",
              title: t("views.#{entity_model.model_name.to_s.downcase.to_sym}.actions.add_new_btn_title"),
              data: { toggle: 'tooltip', 'turbolinks': false },
              remote: true do -%>
    <%= icon('plus', class: 'fa-fw') %>
  <% end -%>
  <%= link_to path_to_refresh,
              class: 'btn btn-secondary',
              id: 'btn-refresh-table',
              title: t('views.actions.refresh_table_btn_title'),
              data: { toggle: 'tooltip', 'turbolinks': false },
              remote: true do %>
    <%= icon('refresh', class: 'fa-fw') %>
  <% end %>
</span>
