<span class="btn-group">
  <%= link_to path_to_new_entity,
              class: 'btn btn-primary',
              id: 'btn-new-deed',
              title: "Add new #{entity_name}",
              data: { toggle: 'tooltip', 'turbolinks': false },
              remote: true do -%>
    <%= icon('plus', class: 'fa-fw') %>
  <% end -%>
  <%= link_to path_to_refresh,
              class: 'btn btn-secondary',
              id: 'btn-refresh-table',
              title: 'Refresh table',
              data: { toggle: 'tooltip', 'turbolinks': false },
              remote: true do %>
    <%= icon('refresh', class: 'fa-fw') %>
  <% end %>
</span>
