<h1>
  <%= model_name_with_icon Author, :plural %>
  <%= render partial: 'shared/index/main_action_btn',
             locals: { path_to_new_entity: new_author_path,
                       path_to_refresh: authors_path,
                       entity_model: Author } %>
</h1>

<div class="row">
  <div id="authors-table">
    <div class="table" id="authors">
      <div class="table-body container-fluid">
        <%= render partial: 'author', collection: @authors %>
      </div>
    </div>
  </div>
</div>
