<div class="container-fluid row">
  <div class="col-md-6">
    <a class="small text-muted"
       href="https://github.com/torbjoernk/deeds"
       target="_blank">
      <i class="fa fa-fw fa-github"></i>
      Code
    </a>
  </div>
  <div class="col-md-6">
    <span class="small text-muted">
      Version: 0.0.0-alpha.0
    </span>
  </div>
</div>
