<div class="oneline oneline-document">
  <%= icon_for Document %>
  <span class="storage-title">
    <%= document.title %>
  </span>
  <div class="document-actions btn-group btn-group-sm">
    <%= link_to_show_entity document %>
  </div>
</div>
