<div class="oneline oneline-deed">
  <%= icon_for Deed %>
  <span class="deed-title">
    <%= @deed.title %>
  </span>
  <div class="deed-actions btn-group btn-group-sm">
    <%= link_to_show_entity @deed %>
  </div>
</div>
