<div class="oneline oneline-storage">
  <%= icon(Storage::ICON, class: 'fa-fw') %>
  <span class="storage-title">
    <%= storage.title %>
  </span>
  <div class="storage-actions btn-group btn-group-sm">
    <%= link_to_show_entity storage %>
  </div>
</div>
