<div class="oneline oneline-storage">
  <%= icon('archive', class: 'fa-fw') %>
  <span class="storage-title">
    <%= storage.title %>
  </span>
  <span class="storage-actions">
    <div class="btn-group btn-group-sm">
      <%= link_to_show_entity storage %>
    </div>
  </span>
</div>
