<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="storage-modal-label">
        <%= Storage.model_name.human %>
        <label class="label secondary">ID: <%= @storage.id %></label>
      </h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <%= render partial: 'storages/inner_show', locals: { storage: @storage, native: true } %>
      </div>
    </div>
  </div>
</div>
