<% native ||= false %>
<% place ||= @place %>

<div class="row">
  <label class="col-md-3"><strong><%= Place.human_attribute_name :title %></strong></label>
  <div class="col-md-9">
    <%= place.title %>
  </div>
</div>
<div class="row">
  <label class="col-md-3"><strong><%= Place.human_attribute_name :notes %></strong></label>
  <div class="col-md-9">
    <%= render partial: 'shared/show/entity_notes', locals: { notes: place.notes } %>
  </div>
</div>
