<div class="oneline oneline-seal">
  <%= icon_for Seal %>
  <span class="seal-title">
    <%= @seal.title %>
  </span>
  <div class="seal-actions btn-group btn-group-sm">
    <%= link_to_show_entity @seal %>
  </div>
</div>
