<div class="oneline oneline-role">
  <%= icon_for Role %>
  <span class="role-title">
    <%= role.title %>
  </span>
  <div class="role-actions btn-group btn-group-sm">
    <%= link_to_show_entity role %>
  </div>
</div>
