<div class="oneline oneline-archive">
  <%= icon('book', class: 'fa-fw') %>
  <span class="archive-title">
    <%= archive.title %>
  </span>
  <span class="archive-actions">
    <div class="btn-group btn-group-sm">
      <%= link_to_show_entity archive %>
    </div>
  </span>
</div>
