<div class="oneline oneline-archive">
  <%= icon(Archive::ICON, class: 'fa-fw') %>
  <span class="archive-title">
    <%= archive.title %>
  </span>
  <div class="archive-actions btn-group btn-group-sm">
    <%= link_to_show_entity archive %>
  </div>
</div>
