<h1>
  Archives
  <span class="btn-group">
    <%= link_to new_archive_url,
                class: 'btn btn-sm btn-primary',
                id: 'btn-new-archive',
                title: 'Add new Archive',
                data: { toggle: 'tooltip' },
                remote: true do -%>
      <%= icon('plus', class: 'fa-fw') %>
    <% end -%>
  </span>
</h1>

<% if @storage %>
  <p class="lead">for Storage: <%= @storage.title %></p>
<% end %>

<div id="archives-table">
  <table class="table table-hover table-sm" id="archives">
    <thead>
    <tr>
      <th class="col-archive-title">Title</th>
      <th class="col-archive-abbr">Abbreviation</th>
      <th class="col-archive-notes">Notes</th>
      <th class="col-archive-assoc">Associations</th>
      <th class="col-archive-actions">Actions</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'archive', collection: @archives %>
    </tbody>
  </table>
</div>

<div class="modal fade" id="archive-modal" tabindex="-1" role="dialog"
     aria-labelledby="archive-modal-label" aria-hidden="true">
</div>
