// Place all the styles related to the storage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//@import 'frameworks/bootstrap';

table#storages {
  .col-storage-title {
    width: 30%;
  }
  .col-storage-notes {
    width: 40%;
  }
  .col-storage-actions {
    width: 20%;
  }
}
