<div class="oneline oneline-place">
  <%= icon_for Place %>
  <span class="place-title">
    <%= place.title %>
  </span>
  <div class="place-actions btn-group btn-group-sm">
    <%= link_to_show_entity place %>
  </div>
</div>
