<h1>
  <%= model_name_with_icon Place, :plural %>
  <%= render partial: 'shared/index/main_action_btn',
             locals: { path_to_new_entity: new_place_path,
                       path_to_refresh: places_path,
                       entity_name: Place.model_name.human } %>
</h1>

<div class="row">
  <div id="places-table">
    <div class="table" id="places">
      <div class="table-body container-fluid">
        <%= render partial: 'place', collection: @places %>
      </div>
    </div>
  </div>
</div>
